*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
html, body {
  height: 100%;
  margin: 0%;
  user-select: none;
}
body{
  overflow: hidden;
}
.hero-image {
  background-image: url("../images/london.png");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hamburger-container{
  display: none;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
}
.hero-scroll-icon{
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero-scroll-icon .chevron-bottom{
  margin-bottom: 10px;
  display: block;
  color: white;
  vertical-align: middle;
  text-align: center;
}
.hero-chevron{
  display: none;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}
.chevron-icon{
  display: none;
}
.hero-chevron .chevron-icon{
  text-align: center;
  vertical-align: middle;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.chevron-bottom::before{
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.twitter-follow-button{
  display: none;
}
/* support for older browser */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 800px)
{
  *{
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html,body{
    height: 100%;
    margin: 0%;
    overflow: scroll;
    user-select: none;
  }
  body{
    overflow: auto;
  }
  #hamburger-overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.3s;
  }
  .hero-image{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text{
    font-size: 18vw;
  }
  .hero-scroll-icon{
    display: initial;
  }
  .hero-scroll-icon .chevron-bottom{
    text-align: center;
    font-size: 10vw;
  }
  .hero-chveron{
    display: initial;
  }
  .hero-chevron .chevron-icon{
    height: 5vh;
    width: 10vw;
  }
  .chevron-icon{
    display: initial;
  }
  .main-content{
    margin:0;
    z-index: 0;
    height: 100%;
    background-image: url("../images/newyork2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .card{
    top: 40%;
    margin: 0;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-family: "Opens Sans",sans-serif;
  }
  .main-content-2{
    margin:0;
    z-index: 0;
    height: 100%;
    max-width: 100%;
    background-image: url("../images/shangai.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .card2{
    top: 1%;
    margin: 0;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-family: "Opens Sans",sans-serif;
  }
  .card2 h1{
    display: inline-block;
  }
  .main-content-3{
    margin:0;
    z-index: 0;
    height: 100%;
    max-width: 100%;
    background-image: url("../images/seattle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .card3{
    top: 1%;
    margin: 0;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-family: "Opens Sans",sans-serif;
  }
  .card3 h1{
    display: inline-block;
  }
  .main-content-4{
    margin:0;
    z-index: 0;
    height: 100%;
    max-width: 100%;
    background-image: url("../images/toronto.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .card4{
    top: 1%;
    margin: 0;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-family: "Opens Sans",sans-serif;
  }
  .card4 h1{
    display: inline-block;
  }
  .social-1{
    max-width: 100%;
    top:10%;
    text-align: center;
    position: relative;
  }
  .social-1 .twitter-timeline{
    margin: 0;
  }
  .title{
    color: white;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
  }
  .card img{
    width: auto;
    border-radius: 50%;
  }
  footer{
    text-align: center;
  }
  .twitter-follow-button{
    position: absolute;
    display: initial;
  }
  @media screen and (max-device-width: 800px){
    body{
      overflow-x: hidden;
      overflow-x: scroll;
    }
  }
}
