/* Annimations are defined before hand here used both in mobile and desktop view of the
webpage, they are also shared between this and the work page*/
@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fadeInRight{
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* Default CCS rule is mobile first so no rule block needed,
further designs are defined below for desktop expansion */
*, *:before, *:after {
  outline: none;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  margin: 0%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.hero-image{
  margin: 0;
  background-image: url("../images/london.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-back{
  display: initial;
  margin: 0;
  left: 3.5px;
  top: 3.5px;
  position: absolute;
}
.hero-back img{
  display: initial;
  cursor: pointer;
}
#backbutton{
  width: auto;
}
#topButton{
  text-align: center;
  height: 31px;
  width: 31px;
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  animation: fadeInRight 1.5s;
}
#topButton::after{
  background-color: black;
}
#topButton img{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: auto;
}
.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 18vw;
}
.hero-scroll-icon{
  text-align: center;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.chevron-bottom{
  text-align: center;
  font-size: 10vw;
}
.hero-scroll-icon .chevron-bottom{
  margin-bottom: 10px;
  display: block;
  color: white;
  vertical-align: middle;
}
.hero-chevron{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}
.hero-chevron .chevron-icon{
  text-align: center;
  vertical-align: middle;
  animation: pulse 2s infinite;
  height: 5vh;
  width: 10vw;
}
.main-content{
  margin:0;
  z-index: 0;
  height: 100%;
  background-image: url("../images/newyork2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card{
  top: 40%;
  margin: 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-family: "Opens Sans",sans-serif;
}
.main-content-2{
  margin:0;
  z-index: 0;
  height: 100%;
  max-width: 100%;
  background-image: url("../images/shangai.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card2{
  margin: 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-family: "Opens Sans",sans-serif;
}
.card2 h1{
  display: inline-block;
}
.container {
  margin: 0;
  position: relative;
}
.mySlides {
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
  font-family: "Opens Sans", sans-serif;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
img {
  width: 100%;
  margin-bottom: -4px;
}
.caption-container {
  font-family: "Opens Sans", sans-serif;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
.container{
  display: flex;
  justify-content: space-around;
  width: 100%;
    overflow:hidden;
    margin:50px auto;
    background:white;
}
.photobanner{
    height: auto;
    width:auto;
}
.first{
   animation: bannermove 30s linear infinite;
}
.main-content-3{
  margin:0;
  z-index: 0;
  height: 100%;
  max-width: 100%;
  background-image: url("../images/seattle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card3{
  top: 1%;
  margin: 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-family: "Opens Sans",sans-serif;
}
.card3 h1{
  display: inline-block;
}
.main-content-4{
  margin:0;
  z-index: 0;
  height: 100%;
  max-width: 100%;
  background-image: url("../images/toronto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card4{
  top: 1%;
  margin: 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-family: "Opens Sans",sans-serif;
}
.card4 h1{
  display: inline-block;
}
.social-1{
  max-width: 100%;
  top:10%;
  text-align: center;
  position: relative;
}
.social-1 .twitter-timeline{
  margin: 0;
}
.title{
  color: white;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
}
.card img{
  width: auto;
  border-radius: 50%;
}
footer{
  text-align: center;
}
.twitter-follow-button{
  position: absolute;
  display: initial;
}
/* Hiding desktop specific elements starts here*/
.desktop-nav{
  display: none;
}
/*  (Expansion) Rule block for minimum screen sizes greater than 800px (Desktop)
the following defined rule and styles will kick in*/
@media (min-width: 800px){
  *, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }
  html, body {
    height: 100%;
    margin: 0%;
  }
  body{
  }
  #topButton{
    display: none;
  }
  .hero-image {
    background-image: url("../images/london.png");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
  }
  .desktop-nav{
    display: initial;
    color: black;
  }

  /* Hiding mobile elements starts here*/
  .hero-back{
    display: none;
  }
  .hero-scroll-icon{
    display: none;
  }
  .hero-scroll-icon .chevron-bottom{
    display: none;
  }
  .hero-chevron{
    display: none;
  }
  .hero-chevron .chevron-icon{
    display: none;
  }
  .chevron-icon{
    display: none;
  }
  .main-content{
    display: none;
  }
  .main-content-2{
    display: none;
  }
  .main-content-3{
    display: none;
  }
  .main-content-4{
    display: none;
  }
}
