@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/Toronto-Mobile.jpg") no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

div{
  position:relative;
  height: 100%;
  width:100%;
}
#me{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  border-radius: 50%;
}
#me:hover{



}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.sticky-social{
  left: 0;
  position: fixed;
  top: 150px;
}
.sticky-social a{
  background: #333;
  color: #fff;
  display: block;
  height: 35px;
  font: 16px "Open Sans", sans-serif;
  line-height: 35px;
  position: relative;
  text-align: center;
  width: 35px;
}

.sticky-social a span{
  line-height: 35px;
  left: -120px;
  position: absolute;
  text-align: center;
  width: 120px;
}

.sticky-social a:hover span{
  left: 100%;
}
.sticky-social a [class*="facebook"],
.sticky-social a[class*="facebook"]:hover,
.sticky-social a[class*="facebook"] span{background: #3b5998;}

.sticky-social a [class*="twitter"],
.sticky-social a[class*="twitter"]:hover,
.sticky-social a[class*="twitter"] span{background: #00aced;}

.sticky-social a [class*="linkedin"],
.sticky-social a[class*="linkedin"]:hover,
.sticky-social a[class*="linkedin"] span{background: #007bb6;}

.sticky-social a [class*="github"],
.sticky-social a[class*="github"]:hover,
.sticky-social a[class*="github"] span{background: #333;}

.copyright-info{
  position: relative;
  height: 100%;
  width: 100%;
}

.copyright-info footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
}
.copyright-info footer small{


}

@media screen and (max-device-width: 800px) {
  html {
    background: url("../images/Toronto-Mobile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  video {
    display: none;
  }
}
