*{
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  user-select: none;
}
div{
  position:relative;
  height: 100%;
  width:100%;
}
#me{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
#me:hover{
  transform: scale(1.20);
}
.social-sticky{
  margin:0;
  padding: 0;
  width: 50px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  top:25%;
  bottom: 55%;
  left: 0;
}
.social-sticky li{
  list-style: none;
  height: 50px;
  background: #333;
  border-bottom: 0;
  position: relative;
}
.social-sticky li a{
  text-decoration: none;
  color: white;
  display: block;
  position: relative;
  height: 100%;
  transition: .1s;
  font-size: 20px;
}
.social-sticky li a:hover{
}
#facebook:hover{
  color: #3B5998
}
#twitter:hover{
  color: #1DA1F2;
}
#linkedin:hover{
  color: #0077B5
}

.social-sticky li:hover{
  width: 60px;
}
.copyright-info footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
}
.copyright-info footer small{
  font-family: "Opens Sans", sans-serif;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "Opens Sans", sans-serif;
  font-size:25px
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 5s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.copyright-info{
  opacity: 0.3;
  filter: alpha(opacity=50);
}
@media screen and (max-width: 800px) {
  *{
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html, body{
    overflow: hidden;
  }
  html {
    background: url("../images/los-angeles.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  video {
    display: none;
  }
  .navigation-overlay a {
    font-size: 20px;
  }
  .overlay a  {
    font-size: 50px;
  }
}
