/* Annimations are defined before hand here used both in mobile and desktop view of the
webpage, they are also shared between this and the work page*/
@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fadeInRight{
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* Default CCS rule is mobile first so no rule block needed,
further designs are defined below for desktop expansion */
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
html, body {
  height: 100%;
  margin: 0%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#topButton{
  text-align: center;
  height: 31px;
  width: 31px;
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  animation: fadeInRight 1.5s;
}
#topButton::after{
  background-color: black;
}
#topButton img{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: auto;
}
.hero-back{
  margin: 0;
  left: 3.5px;
  top: 3.5px;
  position: absolute;
}
.hero-image {
  position: relative;
  height: 100%;
  background-image: url("../images/newyork1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 18vw;
}
.hero-scroll-icon{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero-scroll-icon .chevron-bottom{
  font-size: 10vw;
  margin-bottom: 10px;
  display: block;
  color: white;
  vertical-align: middle;
  text-align: center;
}
.hero-chevron{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}
.chevron-bottom{
  text-align: center;
  font-size: 10vw;
}
.hero-chevron .chevron-icon{
  text-align: center;
  vertical-align: middle;
  animation: pulse 2s infinite;
  height: 5vh;
  width: 10vw;
}
.chevron-bottom::before{
  top: 0;
  transform: rotate(135deg);
}
.CV-Section{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.CV-Section div{
  position: absolute;
  text-align: center;
  background-color: grey;
  opacity: 0.3;
  filter: alpha(opacity=30);
  width: 100%;
  height: 100%;
}
.CV-Section div p{
  font-size: 3vw;
  font-family: "Open Sans",sans-serif;
}
.CV-Section div a{
  text-decoration: none;
  color: black;
}
.CV-Section div a:active{
  text-decoration: none;
}
.CV-Section div a:hover{
  text-decoration: none;
}
.jobs-mobile{
  margin: 0;
  width: 100%;
  height: 100%;
  display: initial;
  position: relative;
}
.leicestercity-footballclub{
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/lcfc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.leicestercity-footballclub h1{
  position: relative;
  top: 15%;
  width: 100%;
  z-index: 1;
  color: white;
  font-size: 5vh;
  font-family: "Open Sans", sans-serif;
}
.hastingsdirect-insurance{
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/hastingsdirect.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.hastingsdirect-insurance h1{
  position: relative;
  top: 15%;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 5vh;
  color: black;
}
.debenhams-salesassistant{
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/debenhams.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.debenhams-salesassistant h1{
  position: relative;
  top: 15%;
  z-index: 1;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 5vh;
}
.getintouch{
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/newyork3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.getintouch h1{
  position: relative;
  top: 5%;
  z-index: 1;
  color: White;
  font-family: "Open Sans", sans-serif;
  font-size: 5vh;
}
/* Hiding desktop specific elements starts here*/
.desktop-nav{
  display: none;
}
/* (Expansion) Rule block for minimum screen sizes greater than 800px (Desktop)
the following defined rule and styles will kick in*/
@media (min-width: 800px)
{
  *{
    outline: none;
  }
  html,body{
    height: 100%;
    margin: 0%;
  }
  .hero-image{
    width: 100%;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
  }
  .desktop-nav{
    display: initial;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .desktop-nav ul{
    height: 100%;
    margin: 0px 2px 0px 0px;
    display: flex;
    list-style-type: none;
  }
  .desktop-nav a{
    display: block;
    text-decoration: none;
  }
  .desktop-nav a:link{
    color: black;
  }
  .desktop-nav a:hover{
    color: black;
  }
  .desktop-nav a:visited{
    color: black;
  }
  .wrapper{
    text-align: center;
    height: 100%;
  }
  .wrapper ul{
    text-align: center;
  }
  .container-left{
    position: relative;
    float: left;
    text-align: center;
    height: 100%;
    width: 50%;
    border-right: 2px solid black;
    border-top: 1px solid black;
    background-image: url("../images/subway.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease-out;
  }
  .container-left li{
    text-align: center;
  }
.container-left:hover{
  transition: all .4s ease-in;
  filter: grayscale(100%);
}
  .container-right{
    position: relative;
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-top: 1px solid black;
    width: 50%;
    height: 100%;
    background-image: url("../images/subway2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    transition: all .4s ease-out;
  }
  .container-right li{
    text-align: center;
  }
  .container-right:hover{
    transition: all .4s ease-in;
    filter: grayscale(100%);
  }
  #jobs{
    margin: 0;
    position: absolute;
    top: 50%;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 50px;
  }
  #contact{
    margin: 0;
    position: absolute;
    top: 50%;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 50px;
  }
  /*
  Mobile Specific styles toggled off for Dektop Experience
  */
  #topButton{
    display: none;
  }
  .hero-scroll-icon{
    display: none;
  }
  .hero-chveron{
    display: none;
  }
  .jobs-mobile{
    display: none;
  }
  .CV-Section{
    display: none;
  }
  .chevron-icon{
    display: none;
  }
  .hero-back{
    display: none;
  }
}
